div {
    text-align: justify;
    text-justify: inter-word;
}
.comparison-container {
    display: flex;
    width: 50%;
}
.flex-child {
    flex: 1;
}  
.flex-child:first-child {
    margin-right: 20px;
} 
